Votre Mot de passe RealSmile a été réinitialisé avec succès. <br />
Vous pouvez changer votre mot de passe à tout moment dans votre espace
personnel. <br />

<br />

Pour vous connecter à votre espace personnel, veuillez cliquer sur le lien
ci-dessous : <br />

<a href="https://realsmile.app/profile-settings">Cliquez ici</a>

Si vous avez besoin d'aide pour vous connecter, veuillez contacter notre service
d'assistance : <br />

<a href="https://helpdesk.realsmilealigner.com/">Service d'assistance</a>

<br />
<br />

Ceci est un e-mail automatique, merci de ne pas répondre à cet e-mail. Si vous
avez des questions ou avez besoin d'aide, n'hésitez pas à contacter notre
service d'assistance à l'adresse suivante : <br />

<a href="contact@realsmile.fr">contact@realsmile.fr</a>

Merci de votre confiance. <br />

L'équipe RealSmile.
